In [1]:
import csv
import pandas as pd

In [5]:
income_df = pd.read_csv('WB_Income_Group.csv',encoding='cp1252')

In [9]:
income_df = income_df.drop(columns='X')
income_df.dropna()

,Country,Code,Region,Income group
0,x,x,x,x
1,Afghanistan,AFG,South Asia,Low income
2,Albania,ALB,Europe & Central Asia,Upper middle income
3,Algeria,DZA,Middle East & North Africa,Lower middle income
4,American Samoa,ASM,East Asia & Pacific,Upper middle income
...,...,...,...,...
214,Virgin Islands (U.S.),VIR,Latin America & Caribbean,High income
215,West Bank and Gaza,PSE,Middle East & North Africa,Lower middle income
216,"Yemen, Rep.",YEM,Middle East & North Africa,Low income
217,Zambia,ZMB,Sub-Saharan Africa,Lower middle income
218,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income